/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    accents {
        ACCENT(ac_agrv, A, DE_GRAVE)
        ACCENT(ac_aacu, A, DE_SQT  )
        ACCENT(ac_atil, A, DE_TILDE)
        ACCENT(ac_acir, A, DE_CARET)
        ACCENT(ac_eacu, E, DE_SQT  )
        ACCENT(ac_ecir, E, DE_CARET)
        ACCENT(ac_iacu, I, DE_SQT  )
        ACCENT(ac_oacu, O, DE_SQT  )
        ACCENT(ac_otil, O, DE_TILDE)
        ACCENT(ac_ocir, O, DE_CARET)
        ACCENT(ac_uacu, U, DE_SQT  )

        MACRO(mc_qu,       &kp DE_Q &kp DE_U &sl ALTREP2)
        MACRO(mc_qu_s,     &kp LS(DE_Q) &kp DE_U &sl ALTREP2)
        MACRO(mc_qu_c,     &kp RS(DE_Q) &kp RS(DE_U) &sl ALTREP2)
        MACRO(mc_aotil,    &macro_tap &macro_wait_time 10 &macro_tap &ac_atil &kp DE_O)
        MACRO(mc_aotil_c,  &macro_tap &macro_wait_time 10 &macro_tap &ac_atil_c &kp RS(DE_O))
        MACRO(mc_otiles,   &macro_tap &ac_otil &macro_wait_time 10 &kp DE_E &kp DE_S)
        MACRO(mc_otiles_c, &macro_tap &ac_otil_c &macro_wait_time 10 &kp RS(DE_E) &kp RS(DE_S))



        ACCENT(ac_cced_dead, DE_C, DE_SQT)

        OS_MORPH(ac_cced,     &ac_cced_dead, &kp RA(DE_COMMA))
        OS_MORPH(ac_cced_c,   &ac_cced_dead, &kp RA(RS(DE_COMMA)))
        OS_MORPH(ac_cced_s,   &ac_cced_dead, &kp RA(RS(DE_COMMA)))
    };
};
